.article-box {
  .tag-block {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #409EFF;
    color: #fff;
    margin-left: 6px;
    margin-bottom: 6px;
  }
} 