.login-box {
  position:  absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 15px;
  border: 1px solid #ddd;
}

.button-row {
  display: flex;
  justify-content: space-between;
}